:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.dropdown {
  display: flex;
  justify-content: start;
  gap: 12px;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  /* padding: 1.5rem 2.25rem; */
  /* margin-bottom: 1.75rem; */
  font-size: 1.7rem;
  grid-column: 1 / -1;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  pointer-events: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 1s;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.weather__container {
  display: flex;
  align-items: center;
}

.weather__detail {
  display: flex;
  align-items: center;
}

.weather__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 3rem;
}

.weather__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.weather__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.weather__condition {
  font-size: 1.2rem;
  /* font-weight: 800; */
  /* text-transform: uppercase; */
  /* margin-right: 0.5rem; */
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.select__hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.sort__hidden {
  /* transform: translateY(-30rem); */
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.input__sort {
  width: 45%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  /* transition: all 0.2s; */
}

.input__sort:focus {
  outline: none;
  background-color: #fff;
}

.input__label {
  font-size: 1.5rem;
  font-weight: 600;
}

.btnSort {
  width: 15%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  cursor: pointer;
}

.btnShowAll {
  margin: 0.5rem;
  width: 33%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.3rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  cursor: pointer;
}

.btnDeleteAll {
  padding: 0.7rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  cursor: pointer;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.select__input {
  width: 40%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.btnSave {
  width: 25%;
  padding: 0.4rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
  cursor: pointer;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  position: relative;
  z-index: 0;
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.leaflet-popup-close-button {
  display: none;
}

.modal__overlay {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s, transform 1ms;

  /* display: none; */
}

.modal__overlay.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
}

.modal.show {
  pointer-events: auto;
  opacity: 0.95;
  display: block;
}

.close {
  width: 38%;
  padding: 1rem 1.8rem;
  font-family: inherit;
  font-size: 1.7rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-light--3);
  margin-top: 0.9rem;
}

.close:hover {
  background-color: var(--color-light--2);
  transition: background-color 0.3s;
}

.accept {
  width: 38%;
  padding: 1rem 1.8rem;
  font-family: inherit;
  font-size: 1.7rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-light--3);
  margin-top: 0.9rem;
  cursor: pointer;
}

.accept:hover {
  background-color: var(--color-light--2);
  transition: background-color 0.3s;
}

.close:over {
  background-color: var(--color-light--1);
  transition: background-color 0.3s;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 20px;
}

.confirm__delete__all {
  opacity: 0.9;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.confirm__delete__all.show {
  pointer-events: auto;
  opacity: 0.96;
}

.leaflet-routing-container.leaflet-bar.leaflet-control {
  background-color: var(--color-dark--2);
  opacity: 0.9;
  width: 55%;
}

.leaflet-routing-alternatives-container {
  background-color: var(--color-dark--2);

  padding: 1.5rem 2.75rem;

  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  opacity: 0.9;
  transition: all 0.2s;

  transition: all 0.5s, transform 1ms;
}

.sort__inputs {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 0.6rem;
  align-items: center;
}

.inputs__check {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s, transform 1ms;
}

.inputs__check__show {
  opacity: 0.9;
}

.start__finish {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s, transform 1ms;
}

.starter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: all 0.3s, transform 1ms;
  backdrop-filter: blur(10px);
}

.leaflet-control-zoom {
  top: 100px;
}

.starter-hidden {
  opacity: 0;
}

.leaflet-routing-container {
  transition: all 0.5s, transform 1ms;
}

.sorting__hidden {
  display: none;
  transition: all 0.2s, transform 1ms;
}

.leaflet-pane.leaflet-popup-pane {
  opacity: 0.93;
}
